:root {
  --color-primary: #f2b8a4;
  --color-secondary: #ce6957;
  --color-primary-light: #fee9d8;
  --color-accent: #66242e;
  --color-neutral: #eeba6f;
  --color-whatever: #a3666e;

  --font-primary: "Barlow Condensed", sans-serif;
}

html {
  font-family: var(--font-primary);
}

.section-bg-catalogue {
  background-color: var(--color-whatever);
  height: 100%;
}

.section-bg-home {
  background-color: var(--color-primary);
}

.section-bg-info {
  background-color: var(--color-secondary);
}

.catalogue-des {
  margin-left: 1em;
  margin-right: .5em;
  margin-top: 4em;
}

@media only screen and (min-width: 25em) {

  .catalogue-des {
    position: absolute;
    width: 100%;
    top: -22.5em;
    left: 12em;
    margin-right: 0;
  }
}

@media only screen and (min-width: 38em) {

  .catalogue-des {
    top: -23.5em;
    left: 12.25em;
  }
}

@media only screen and (min-wdith: 60em) {

  .catalogue-des {
    top: -36em;
    left: 25em;
  }
}
