:root {
  --color-primary: #f2b8a4;
  --color-secondary: #ce6957;
  --color-primary-light: #fee9d8;
  --color-accent: #66242e;
  --color-neutral: #eeba6f;
  --color-whatever: #a3666e;

  --font-primary: "Barlow Condensed", sans-serif;
}

html {
  font-family: var(--font-primary);
}
