.short-hr {
  max-width: 5em;
}

.red-type {
  color: var(--color-accent);
  font-size: 110px;
}

.pink-type {
  color: var(--color-primary);
  font-size: 110px;
}

.white {
  border-color: #fff;
}

.purp-type {
  color: var(--color-accent);
  font-size: 110px;
}

.white-font {
  color: #fff;
}

hr {
  border-style: dashed;
}

.acronym-icon {
  width: 60%;
  height: 60%;
}
