.burgundy-btn {
  background-color: var(--color-accent);
  border-color: var(--color-accent);
  color: #fff;
  border-radius: 10px;
  text-decoration: none;
}

.light-btn {
  background-color: var(--color-primary-light);
  color: #000;
  border-radius: 10px;
  text-decoration: none;
}
