p {
  font-family: var(--font-primary);
}

.card {
  background-color: #fff;
}

.card-btn {
  text-decoration: none;
  background-color: var(--color-accent);
  color: #ffffff;
  padding: .5em;
}

.card-btn:hover {
  background-color: var(--color-primary-dark);
}

img {
  height: auto;
  max-width: 100%;
  vertical-align: middle;
}

.beer {
  max-height: 60%;
}

.beer-card {
  max-width: 100%;
  display: inline-block;
  margin-left: -1em;
}

.text-white {
  color: #fff;
}

.fullheart {
  filter: opacity(0);
}

.fullheart:hover {
  filter: opacity(1);
}

@media only screen and (min-width: 25em) {

  .beer-card {
    position: relative;
    left: 12em;
    top: -10em;
  }
}

@media only screen and (min-width: 38em) {

  .beer-card {
    left: 18.5em;
    top: -12em;
  }
}

@media only screen and (min-wdith: 60em) {

  .beer-card {
    left: 25em;
    top: -23em;
  }
}

.btn {
  background-color: white;
  border: 1px solid @gray-light;
  border-radius: 1rem;
  color: @gray-dark;
  padding: 0.5rem;
  text-transform: lowercase;
}

.btn--block {
  display: block;
  width: 100%;
}

.cards {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  margin: 0;
  padding: 0;
  text-align: center;
}

.cards__item {
  display: flex;
  padding: 1rem;


  @media(min-width: 40rem) {
    width: 50%;
  }
  @media(min-width: 56rem) {
    width: 33.3333%;
  }
}

.card {
  background-color: white;
  border-radius: 0.25rem;
  box-shadow: 0 20px 40px -14px rgba(0,0,0,0.25);
  display: flex;
  flex-direction: column;
  overflow: hidden;
  &:hover {
    .card__image {
      filter: contrast(100%);
    }
  }
}

.card__content {
  display: flex;
  flex: 1 1 auto;
  flex-direction: column;
  padding: 1rem;
}

.card__image {
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  border-top-left-radius: 0.25rem;
  border-top-right-radius: 0.25rem;
  filter: contrast(70%);
  //filter: saturate(180%);
  overflow: hidden;
  position: relative;
  transition: filter 0.5s cubic-bezier(.43,.41,.22,.91);;
  &::before {
    content: "";
	  display: block;
    padding-top: 56.25%; // 16:9 aspect ratio
  }
  @media(min-width: 40rem) {
    &::before {
      padding-top: 66.6%; // 3:2 aspect ratio
    }
  }
}

.card__title {
  color: var(--color-primary-dark);
  font-size: 1.25rem;
  font-weight: 300;
  letter-spacing: 2px;
  padding: 0;
  text-transform: uppercase;
}

.card__text {
  flex: 1 1 auto;
  font-size: 0.875rem;
  line-height: 1.5;
  margin-bottom: 1.25rem;
}

.process {
  text-decoration: none;
}

h3 {
  padding-bottom: 0;
  color: var(--color-primary-dark);
}

.insta {
  font-family: var(--font-primary);
}

.insta:hover {
  color: var(--color-primary-dark);
}

.email-me {
  font-family: var(--font-primary);
}

.email-me:hover {
  color: var(--color-primary-dark);
}

.phone-me {
  color: var(--color-accent);
}

dd, dt {
  display: inline;
}

.icon {
  position: absolute !important;
  top: 0;
  right: 0;
}
