<!DOCTYPE html>
<html lang="en-ca">
<head>
  <meta charset="utf-8">
  <title>Brewskies App</title>
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <link rel="stylesheet" href="/css/main.css">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Barlow+Condensed:400,400i,700,900&display=swap">
</head>
<body>

  <div role="header" id="header" tabindex="0">
    {% pattern navigation/navigation %}
  </div>

  <div role="main" id="main" tabindex="0">
    {{content}}
  </div>

</body>
</html>
