.masthead {
  font-family: var(--font-primary);
}

.nav {
  text-decoration: none;
  padding: 0;
}

.nav a {
  text-decoration: none;
  color: #000;
}

.nav a:hover {
  color: var(--color-accent);
}

.i-30 {
  height: 30px;
  width: 30px;
}

.logo-size {
  width: 15%;
}

@media only screen and (min-width: 38em) {

  .right-nav {
    text-align: right;
  }

  .nav-gutter {
    padding-left: 2.6rem;
    padding-right: 2.6rem;
  }

  .left-nav {
    text-align: left;
    align-content: left;
  }

  .nav-labels {
    right: -9em;
  }

  .logo-size {
    margin-left: -8em;
    margin-bottom: -1.5em;
}
